<div id="wikis">
<h1><%=@wiki.title%></h1>
<h5>Created by: <%=@wiki.user.email%></h5>

<div class="row">
  <div class="col-md-8">
    <h4><%= markdown.render(@wiki.body).html_safe%></h4>
  </div>

</br>
</br>
</div>
<% if current_user %>
  <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-primary',id: 'show-btn' %>
  <% end %>
    <% if current_user && current_user.admin?  %>
      <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', id: 'show-btn' %>
    <% end %>   
    
    <div class= "pull-right">     
      <% if current_user && @wiki.private && (current_user.admin? || current_user.premium?) %>     
        <% User.all.each do |user| %>
          <% if user == current_user %>
          <% elsif Collaborator.exists?(user: user, wiki: @wiki) %>
            <%= link_to "Remove #{user.email} as collaborator", collaborators_path(wiki_id: @wiki.id, user_id: user.id), method: :delete, class: 'btn btn-xs btn-danger' %>
          <% else %>
            <%= link_to "Add #{user.email} as collaborator", collaborators_path(wiki_id: @wiki.id, user_id: user.id), method: :post, class: 'btn btn-xs btn-success' %>

      </br>
  
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>